<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách tất cả người</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Danh sách tất cả người</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Họ và tên</th>
        <th>Nghề nghiệp</th>
        <th>Giới tính</th>
        <th>Thành phố</th>
        <th>Lương</th>
        <th>Ngày sinh</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person, state : ${people}" th:classappend="${state.odd ? 'highlight' : ''}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.fullname}"></td>
        <td th:text="${person.job}"></td>
        <td th:text="${person.gender}"></td>
        <td th:text="${person.city}"></td>
        <td th:text="${person.salary}"></td>
        <td th:text="${person.birthday}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
